.section {
  width: 100vw;
  margin: 16px 0;
  padding: 5vw 10vw;
}

.title {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #0b1c3d;
  margin-bottom: 50px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 26px;
  padding-top: 16px;
}

/* Square cards */
.card {
  aspect-ratio: 1 / 1;
  border-radius: 18px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 18px 30px rgba(0, 0, 0, 0.12);
  transition: all 0.4s ease;
  text-decoration: none;
}

.card:hover {
  transform: translateY(-8px);
}

/* Image */
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: saturate(0.85);
  transition: transform 0.6s ease;
}

.card:hover img {
  transform: scale(1.08);
}

/* Soft color overlay */
.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.05),
    rgba(11, 28, 61, 0.75)
  );
}

/* Color tints */
.health .content {
  background: rgba(255, 149, 120, 0.4);
}
.education .content {
  background: rgba(120, 170, 255, 0.6);
}
.community .content {
  background: rgba(180, 150, 255, 0.6);
}
.sustain .content {
  background: rgba(140, 200, 150, 0.6);
}
.women .content {
  background: rgba(255, 170, 200, 0.6);
}
.sports .content {
  background: rgba(140, 220, 220, 0.6);
}
.relief .content {
  background: rgba(255, 190, 120, 0.6);
}
.digital .content {
  background: rgba(150, 220, 255, 0.6);
}
.institutions .content {
  background: rgba(220, 220, 220, 0.6);
}
.governance .content {
  background: rgba(180, 200, 230, 0.6);
}

.card content {
  opacity: 1;
}

/* Text area */
.content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 4px 6px;
  color: white;
  display: flex;
  flex-direction: row;
}

.content svg {
  height: 50px;
  width: 50px;
  margin-right: 8px;
}

.content h3 {
  margin: 0;
  font-size: 25px;
  font-weight: 700;
}

.content p {
  font-size: 10px;
  opacity: 0.85;
}

.arrow {
  display: none;
  position: absolute;
  right: 26px;
  bottom: 26px;
  font-size: 26px;
  color: white;
  transition: transform 0.3s ease;
}

.card:hover .arrow {
  transform: translateX(6px);
}

@media (max-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
