* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

:root {
  --p2: #ffd84d;
  --p3: #0b1c3d;
  --p4: #0b1c3db2;
  --p5: #f4f8fbc2;
}

html {
  scroll-behavior: smooth;
}

#slide {
  position: relative;
  height: auto;
  width: 100vw;
  margin-top: 10vh;
  overflow: hidden;
}

#htmlbg {
  position: fixed;
  height: 100vh;
  width: 100vw;
  filter: blur(10px);
  background-color: #0b1c3d;
  z-index: -10000;
}

#slide * {
  pointer-events: none;
}

section {
  position: relative;
  width: 60vw;
  height: auto;
  margin: 16px 20vw;
  padding: 32px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

section:not(#contact),
.section {
  background-image: url("../res/table.jpg");
  background-size: cover;
}

section > * {
  margin: 8px 0;
}

#contact {
  padding: 32px 7vw;
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

section p {
  font-family: "Open Sans", sans-serif;
  color: black;
  text-align: center;
}

section h2:not(#contact h2),
.section h2 {
  border-bottom: 2px solid var(--p3);
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: var(--p3);
  padding: 0px 8px;
  padding-left: 0px;
  width: auto;
  text-align: center;
  animation: h2Border linear both;
}

.sleft {
  width: 50%;
}

.sright {
  width: 50%;
}

#track {
  width: 100vw;
}

#track img {
  width: 100vw;
  height: 45vw;
}

footer {
  height: auto;
  width: 100vw;
  background-color: var(--p3);
  color: rgba(255, 255, 255, 0.747);
  text-align: center;
  padding: 4px;
  font-size: 15px;
  font-weight: 100;
}

.bluro {
  position: relative;
  height: 15vw;
  width: 100%;
  overflow: hidden;
}

.bluro > img {
  height: auto;
  width: 100%;
  position: absolute;
  visibility: hidden;
}

.arroww {
  background-color: var(--p3);
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightt {
  right: 28px;
}

.leftt {
  left: 28px;
}

.exe {
  width: 100%;
}

.exe a {
  border: 2px solid var(--p3);
  color: var(--p3);
  border-radius: 5px;
  padding: 0px 8px;
  height: 30px;
  font-weight: 600;
  background-color: transparent;
  display: flex;
  align-items: center;
}

#donateInBook {
  width: 35%;
  height: 100%;
  border: 2px solid #5b3a29;
  padding: 16px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

#donateInBook #d-heading {
  color: #5b3a29;
  font-weight: 900;
}

#donateInBook > img {
  position: relative;
  width: 80%;
  height: auto;
  transform: scaleX(1.2);
  transform: scaleY(0.8);
  margin: 0 auto;
}

#donateInBook button {
  width: 100%;
  background-color: #5b3a29;
  border: transparent;
  font-weight: 900;
  margin-top: 16px;
  color: white;
  font-size: 25px;
  text-align: center;
}

#main #back h2 {
  font-size: 23px;
  line-height: 25px;
  border: transparent;
}

.dline {
  display: flex;
  flex-direction: row;
}

.dline {
  margin-right: auto;
}

.map {
  width: 50%;
  height: 15vw;
}

#contact {
  position: relative;
  background-color: var(--p3);
  color: white;
}

#contact > div {
  height: 100%;
}

#contact > div * {
  margin: 3px 0;
}

#contact h2 {
  color: white;
  height: auto;
  font-size: 44px;
  font-weight: 900;
  width: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

#contact span {
  height: auto;
  font-size: 18px;
}

@keyframes dropDown {
  0% {
    max-height: 0vh;
  }
  100% {
    max-height: 50vh;
  }
}

@keyframes subDrop {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 50vh;
  }
}

@keyframes slowBlur {
  0% {
    visibility: visible;
    transform: scale(1);
  }
  80% {
    filter: blur(0px);
    transform: scale(1);
  }
  100% {
    filter: blur(8px);
    visibility: hidden;
    transform: scale(0.9);
  }
}

@keyframes h2Border {
  0% {
    transform: translateX(36px);
  }

  100% {
    transform: translateX(0px);
  }
}

#main {
  position: relative;
  width: 15vw;
  height: 20vw;
  margin-left: 15vw;
  margin-right: auto;
  perspective: 2000px;
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.685);
}

#main * {
  border-radius: 20px;
}

#book {
  background-image: url("./res/table.jpg");
  background-size: cover;
  display: flex;
  flex-direction: row;
  padding: 32px 5vw;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.front {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 23;
  transform-origin: left;
  transform-style: preserve-3d;
  display: flex;
}

#a-front {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateZ(1px);
}

#main #b-front {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center;
  transform: rotateY(180deg);
  justify-content: center;
}

#bgo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -90;
}

#main .back {
  padding: 44px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.back > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  overflow: hidden;
  gap: 14px;
}

#main .back h3 {
  width: 80%;
  height: auto;
  line-height: 1;
  font-size: 30px;
  margin: 0 auto;
  text-align: center;
  color: var(--p3);
  font-weight: 900;
  border-radius: 0;
  display: inline-block;
  transform: scaleX(1);
}

.back img {
  margin: 0 auto;
}

#founder {
  margin: 16px auto;
  height: auto;
  width: 70%;
}

.back p {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  height: auto;
}

@keyframes book {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-180deg);
  }
}

#bgpage {
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  transition: top 0.5s ease-in-out;
  display: none;
}

.bgnone {
  background-color: transparent;
}

#latestActivities {
  flex-direction: column-reverse;
}

.sec3Anim-track {
  width: 90%;
  height: auto;
  background-color: #0b1c3d;
  display: flex;
  flex-direction: row;
}

.sec3Anim-track > img {
  margin: 16px;
  visibility: hidden;
}
